name: Build Hel-Sync Package

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flask pyqt5 qrcode pillow pyautogui cryptography pyopenssl pyinstaller pynput

    - name: Build Directory with PyInstaller
      run: |
        pyinstaller --onedir --windowed --name hel-sync sync/main.py

    - name: Compress Directory to ZIP
      run: |
        powershell Compress-Archive -Path dist/hel-sync/* -DestinationPath dist/hel-sync-windows.zip

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: hel-sync-windows-zip
        path: dist/hel-sync-windows.zip
