name: Build Hel-Sync Package

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flask pyqt5 qrcode pillow pyautogui cryptography pyopenssl pyinstaller pynput

    - name: Convert PNG to ICO
      shell: python
      run: |
        from PIL import Image
        import os
        # فتح ملف الـ PNG وتحويله إلى ICO
        img = Image.open("sync/assets/icon.png")
        img.save("icon.ico", format='ICO', sizes=[(256, 256), (128, 128), (64, 64), (32, 32)])

    - name: Build Single Executable with Icon
      run: |
        # نستخدم الملف الجديد icon.ico الذي تم إنتاجه في الخطوة السابقة
        pyinstaller --onefile --windowed --icon=icon.ico --name hel-sync sync/main.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: hel-sync-windows-exe
        path: dist/hel-sync.exe
